<p id="notice"><%= notice %></p>

<h1>Interventions</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Customerid</th>
      <th>Buildingid</th>
      <th>Batterieid</th>
      <th>Columnid</th>
      <th>Elevatorid</th>
      <th>Employeeid</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Result</th>
      <th>Report</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!-- % @interventions.each do |intervention| % -->
      <tr>


      </tr>
    <!-- % end % -->
  </tbody>
</table>

<br>

<%= link_to 'New Intervention', new_intervention_path %>
